![Checkars](https://raw.githubusercontent.com/juliandnl/redi_ss20/master/checkars/grafik.png)

In [6]:
# Imports
import pandas as pd
import numpy as np
import seaborn as sns

import plotly.express as px

In [15]:
df = cars.groupby(['Make', 'Year'])['Model'].count().reset_index()
df.head()

       Make  Year  Model
0  Chrysler  2011     16
1  Chrysler  2012      2
2  Chrysler  2013      5
3  Chrysler  2016      1
4      Ford  2011    665

In [49]:
df = cars.groupby(['Make', 'Model']).count()
df.head()

                                Year  Variant  Kms  Price  Doors  Kind  \
Make     Model
Chrysler PT Cruiser               16       16   16     16     16    16
         Town & Country            8        8    8      8      8     8
Ford     Ecosport                947      947  947    947    947   947
         Fiesta                   67       67   67     67     67    67
         Fiesta Kinetic Design   891      891  891    891    891   891

                                Location
Make     Model
Chrysler PT Cruiser                   16
         Town & Country                8
Ford     Ecosport                    947
         Fiesta                       67
         Fiesta Kinetic Design       891

In [26]:
fig = px.bar(df, x='Year', y='Model', color='Make', barmode='group', text='Model', labels={'Model' : 'Total Number of Cars'})
fig.update_layout()
fig.update_traces(textposition='outside')
fig.show()

In [33]:
fig = px.bar(df, x='Make', y='Model', text='Model', color='Make',
             animation_frame='Year',labels={'Model' : 'Total Number of Cars'})
fig.update_layout()
fig.update_traces(textposition='outside')
fig.show()

In [2]:
# https://plotly.com/python/pandas-backend/
!pip install plotly==5.1.0
#pip install plotly==5.1.3
pd.options.plotting.backend = "plotly"

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting plotly==5.1.0
  Downloading plotly-5.1.0-py2.py3-none-any.whl (20.6 MB)
     || 20.6 MB 1.4 MB/s
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from plotly==5.1.0) (1.15.0)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from plotly==5.1.0) (8.0.1)
Installing collected packages: plotly
  Attempting uninstall: plotly
    Found existing installation: plotly 5.5.0
    Uninstalling plotly-5.5.0:
      Successfully uninstalled plotly-5.5.0
Successfully installed plotly-5.1.0

In [3]:
# read in the data
cars = pd.read_csv("https://raw.githubusercontent.com/juliandnl/redi_ss20/master/cars.csv")

## 1. What kind of information do we have?

We can split this question up into some sub questions:
- how many cars are in the dataset?
- what information do we have per car?
- how do the information look like? (numbers, words?)

In [4]:
# rows and columns
cars.shape

(10000, 9)

In [7]:
# Overview of the dataset
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Make      10000 non-null  object
 1   Model     10000 non-null  object
 2   Year      10000 non-null  int64
 3   Variant   10000 non-null  object
 4   Kms       10000 non-null  int64
 5   Price     10000 non-null  int64
 6   Doors     10000 non-null  float64
 7   Kind      10000 non-null  object
 8   Location  10000 non-null  object
dtypes: float64(1), int64(3), object(5)
memory usage: 703.2+ KB

In [5]:
# First rows
cars.head(10)

,Make,Model,Year,Variant,Kms,Price,Doors,Kind,Location
0,Volkswagen,Vento,2012,2.5 Luxury 170cv,99950,360000,4.0,Sedn,Crdoba
1,Ford,Ranger,2012,2.3 Cd Xl Plus 4x2,140000,320000,2.0,Pick-Up,Entre Ros
2,Volkswagen,Fox,2011,1.6 Trendline,132000,209980,5.0,Hatchback,Bs.as. G.b.a. Sur
3,Ford,Ranger,2017,3.2 Cd Xls Tdci 200cv Automtica,13000,798000,4.0,Pick-Up,Neuqun
4,Volkswagen,Gol,2013,1.4 Power 83cv 3 p,107000,146000,3.0,Hatchback,Crdoba
5,Volkswagen,Amarok,2014,2.0 Cd Tdi 180cv 4x4 Highline C34,115000,790000,4.0,Pick-Up,Buenos Aires Interior
6,Ford,Ka,2012,1.0 Fly Viral 63cv,95243,142000,3.0,Hatchback,Bs.as. G.b.a. Sur
7,Ford,Ka,2012,1.6 Fly Viral 95cv,110000,148000,3.0,Hatchback,Buenos Aires Interior
8,Ford,Focus III,2017,1.6 S,17500,367000,5.0,Hatchback,Buenos Aires Interior
9,Ford,Fiesta Kinetic Design,2014,1.6 Sedan Titanium Powershift 120cv,43000,287000,4.0,Sedn,Bs.as. G.b.a. Norte

In [50]:
# Describe the numerical columns
cars.describe()

               Year            Kms         Price         Doors
count  10000.000000   10000.000000  1.000000e+04  10000.000000
mean    2013.293800   74483.338400  3.495455e+05      4.295800
std        1.816043   35150.279998  1.773396e+05      0.889821
min     2011.000000    5094.000000  6.300000e+03      2.000000
25%     2012.000000   49500.000000  2.290000e+05      4.000000
50%     2013.000000   73000.000000  3.000000e+05      5.000000
75%     2015.000000   97000.000000  4.300000e+05      5.000000
max     2018.000000  218000.000000  2.800000e+06      5.000000

In [51]:
cars

,Make,Model,Year,Variant,Kms,Price,Doors,Kind,Location
0,Volkswagen,Vento,2012,2.5 Luxury 170cv,99950,360000,4.0,Sedn,Crdoba
1,Ford,Ranger,2012,2.3 Cd Xl Plus 4x2,140000,320000,2.0,Pick-Up,Entre Ros
2,Volkswagen,Fox,2011,1.6 Trendline,132000,209980,5.0,Hatchback,Bs.as. G.b.a. Sur
3,Ford,Ranger,2017,3.2 Cd Xls Tdci 200cv Automtica,13000,798000,4.0,Pick-Up,Neuqun
4,Volkswagen,Gol,2013,1.4 Power 83cv 3 p,107000,146000,3.0,Hatchback,Crdoba
...,...,...,...,...,...,...,...,...,...
9995,Ford,Focus III,2016,2.0 Se,67000,399000,5.0,Hatchback,Bs.as. G.b.a. Oeste
9996,Volkswagen,Bora,2012,1.9 Trendline I 100cv,120000,240000,4.0,Sedn,Buenos Aires Interior
9997,Ford,Fiesta Kinetic Design,2012,1.6 Design 120cv Titanium,89000,250000,5.0,Hatchback,Tucumn
9998,Ford,Fiesta Kinetic Design,2013,1.6 Design 120cv Titanium,76000,295000,5.0,Hatchback,Buenos Aires Interior
9999,Ford,Focus III,2014,2.0 Titanium At6,32000,380000,5.0,Hatchback,Bs.as. G.b.a. Sur

In [52]:
cars.columns

Index(['Make', 'Model', 'Year', 'Variant', 'Kms', 'Price', 'Doors', 'Kind',
       'Location'],
      dtype='object')

In [53]:
cars.isna().sum()

Make        0
Model       0
Year        0
Variant     0
Kms         0
Price       0
Doors       0
Kind        0
Location    0
dtype: int64

## Conclusion:
- we have 10.000 cars in the dataset
- we have 8 columns
- we have the following information for each car: Make, Model, year, Variant, Kms, Price, Doors, Kind, Location
- Kms, Year, Price and Doors are numerical, the rest is text.

## 2. What kind of cars are sold?

How can we split this question up? 

What kind of:
- Makes 
- Kinds

In [54]:
cars["Make"]

0       Volkswagen
1             Ford
2       Volkswagen
3             Ford
4       Volkswagen
           ...
9995          Ford
9996    Volkswagen
9997          Ford
9998          Ford
9999          Ford
Name: Make, Length: 10000, dtype: object

In [55]:
# Select column from pandas can be done with a . or with [""]
set(cars["Make"])

{'Chrysler', 'Ford', 'Honda', 'Mercedes Benz', 'Volkswagen'}

In [74]:
list(cars["Make"])[-10:]

['Ford',
 'Ford',
 'Volkswagen',
 'Ford',
 'Ford',
 'Ford',
 'Volkswagen',
 'Ford',
 'Ford',
 'Ford']

In [58]:
list(set(cars["Make"]))

['Volkswagen', 'Honda', 'Ford', 'Chrysler', 'Mercedes Benz']

In [75]:
cars.Make

0       Volkswagen
1             Ford
2       Volkswagen
3             Ford
4       Volkswagen
           ...
9995          Ford
9996    Volkswagen
9997          Ford
9998          Ford
9999          Ford
Name: Make, Length: 10000, dtype: object

In [59]:
cars.Make.unique()

array(['Volkswagen', 'Ford', 'Mercedes Benz', 'Honda', 'Chrysler'],
      dtype=object)

In [61]:
cars['Make'].unique()

array(['Volkswagen', 'Ford', 'Mercedes Benz', 'Honda', 'Chrysler'],
      dtype=object)

In [76]:
cars.Make.value_counts()

Volkswagen       5173
Ford             4025
Honda             522
Mercedes Benz     256
Chrysler           24
Name: Make, dtype: int64

In [82]:
makes = cars.Make.value_counts()
makes.plot.bar()
# here we assign the result of cars.Make.value_counts() to a new variable which 
# we called makes.

In [78]:
type(makes)

pandas.core.series.Series

In [79]:
cars.Kind.value_counts()

Hatchback      4056
Sedn          2173
Pick-Up        1547
SUV            1305
Monovolumen     705
Coup            90
Rural            59
Furgn           53
Cabriolet        11
Minivan           1
Name: Kind, dtype: int64

In [80]:
cars.Kind.value_counts().plot.bar()

## Conclusion:
- There are 5 different car brands in the dataset
- Most cars which are sold are Volkswagen, followed by Ford. 
- The most common car kind sold is a hatchback, followed by Sedn and Pick-up.

# 3. Where are the cars sold?

In [83]:
cars.columns

Index(['Make', 'Model', 'Year', 'Variant', 'Kms', 'Price', 'Doors', 'Kind',
       'Location'],
      dtype='object')

In [84]:
cars.Location.unique()

array(['Crdoba', 'Entre Ros', 'Bs.as. G.b.a. Sur', 'Neuqun',
       'Buenos Aires Interior', 'Bs.as. G.b.a. Norte', 'Capital Federal',
       'Bs.as. G.b.a. Oeste', 'Tierra Del Fuego', 'Santa Fe', 'Mendoza',
       'Misiones', 'La Pampa', 'Chaco', 'Salta', 'Bs.as. Costa Atlntica',
       'Santa Cruz', 'Corrientes', 'Tucumn', 'San Juan', 'Catamarca',
       'San Luis', 'Ro Negro', 'Chubut', 'Jujuy', 'Formosa',
       'Santiago Del Estero', 'La Rioja'], dtype=object)

In [85]:
set(cars.Location)

{'Bs.as. Costa Atlntica',
 'Bs.as. G.b.a. Norte',
 'Bs.as. G.b.a. Oeste',
 'Bs.as. G.b.a. Sur',
 'Buenos Aires Interior',
 'Capital Federal',
 'Catamarca',
 'Chaco',
 'Chubut',
 'Corrientes',
 'Crdoba',
 'Entre Ros',
 'Formosa',
 'Jujuy',
 'La Pampa',
 'La Rioja',
 'Mendoza',
 'Misiones',
 'Neuqun',
 'Ro Negro',
 'Salta',
 'San Juan',
 'San Luis',
 'Santa Cruz',
 'Santa Fe',
 'Santiago Del Estero',
 'Tierra Del Fuego',
 'Tucumn'}

In [86]:
cars.Location.nunique()

28

In [87]:
len(set(cars.Location))

28

In [88]:
cars.Make.unique()

array(['Volkswagen', 'Ford', 'Mercedes Benz', 'Honda', 'Chrysler'],
      dtype=object)

In [89]:
cars.Make.nunique()

5

In [90]:
locations = cars.Location.value_counts()

In [91]:
locations

Capital Federal           2013
Bs.as. G.b.a. Sur         1748
Bs.as. G.b.a. Norte       1726
Bs.as. G.b.a. Oeste       1339
Crdoba                    785
Buenos Aires Interior      768
Santa Fe                   359
Bs.as. Costa Atlntica     268
Mendoza                    254
Entre Ros                 116
Neuqun                     96
Tucumn                     84
Ro Negro                   67
Corrientes                  58
Chaco                       53
Salta                       51
Chubut                      36
Misiones                    35
San Luis                    24
Santa Cruz                  20
La Pampa                    20
Formosa                     15
Tierra Del Fuego            13
Santiago Del Estero         12
San Juan                    11
Jujuy                       10
La Rioja                    10
Catamarca                    9
Name: Location, dtype: int64

In [93]:
locations.plot.bar()

ValueError: ignored

## Conclusion:
- There are 28 different regions.
- The biggest region is Capital Federal.
- There are a few regions where lots of cars are.
- There are lots of regions where a few cars are.

# BONUS: 4. How expensive are the cars?

In [ ]:
cars.columns

Index(['Make', 'Model', 'Year', 'Variant', 'Kms', 'Price', 'Doors', 'Kind',
       'Location'],
      dtype='object')

In [94]:
cars['Price']

0       360000
1       320000
2       209980
3       798000
4       146000
         ...
9995    399000
9996    240000
9997    250000
9998    295000
9999    380000
Name: Price, Length: 10000, dtype: int64

In [95]:
cars.Price.max()

2800000

In [96]:
cars.Price.min()

6300

In [97]:
type(cars.Price)

pandas.core.series.Series

In [98]:
import numpy as np
np.array(cars.Price)

array([360000, 320000, 209980, ..., 250000, 295000, 380000])

In [99]:
cars[ cars['Price']==cars['Price'].max() ]

,Make,Model,Year,Variant,Kms,Price,Doors,Kind,Location
8007,Mercedes Benz,Clase GLC,2017,2.0 Glc250 300 4matic Atomtico,18000,2800000,5.0,SUV,Bs.as. G.b.a. Sur

In [100]:
cars.Make[ cars.Price == cars.Price.max() ]

8007    Mercedes Benz
Name: Make, dtype: object

In [101]:
cars.Kind[ cars.Price == cars.Price.max() ]

8007    SUV
Name: Kind, dtype: object

In [102]:
# combine two conditions
cars[ (cars['Price'] == cars['Price'].min()) | (cars['Price'] == cars['Price'].max()) ]

,Make,Model,Year,Variant,Kms,Price,Doors,Kind,Location
2965,Chrysler,PT Cruiser,2011,2.4 Touring,71000,6300,5.0,Hatchback,Santa Fe
8007,Mercedes Benz,Clase GLC,2017,2.0 Glc250 300 4matic Atomtico,18000,2800000,5.0,SUV,Bs.as. G.b.a. Sur

In [103]:
cars['Price'].mean()

349545.4545

--- 
# Review

This section is only for the reviewing team!

Guideline how to review:
https://docs.google.com/presentation/d/1YORFwlfVQo9ogj7jR9t6_pqxmGIlpBSGubbp1UdtcBQ/edit?usp=sharing

#@title Review Criteria:
%%html
<h3><input type="checkbox"> 1. Are all questions answered? <br></h3> 
<h3><input type="checkbox"> 2. Does all code run through? <br></h3> 
<h3><input type="checkbox"> 3. Are the conclusions understandable?  <br></h3> 
<h3><input type="checkbox"> 4. Are the bonus question answered?  <br></h3>

input("Do you have any feedback?")

# Further material

**Further summarization methods:**

```
.head()
.info()
.columns
.unique()
.min()
.max()
.mean()
.count()
.value_counts()
```


Where to find further methods from pandas: 
- https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html
- https://www.dataquest.io/blog/pandas-cheat-sheet/
- https://towardsdatascience.com/an-introduction-to-pandas-29d15a7da6d