In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

import warnings
warnings.simplefilter(action='ignore')

# Number of decimals
#pd.options.display.float_format = '{:,.2f}'.format

pd.set_option('display.max_columns', None)

# Read Schema Dataset

In [2]:
# Schema Data Read
schema_df = pd.read_csv('survey_results_schema.csv', index_col='qname')
schema_df

,qid,question,force_resp,type,selector
qname,,,,,
S0,QID16,"<div><span style=""font-size:19px;""><strong>Hel...",False,DB,TB
MetaInfo,QID12,Browser Meta Info,False,Meta,Browser
S1,QID1,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
MainBranch,QID2,Which of the following options best describes ...,True,MC,SAVR
Employment,QID296,Which of the following best describes your cur...,False,MC,MAVR
...,...,...,...,...,...
Frequency_2,QID290,Interacting with people outside of your immedi...,NaN,MC,MAVR
Frequency_3,QID290,Encountering knowledge silos (where one indivi...,NaN,MC,MAVR
TrueFalse_1,QID294,Are you involved in supporting new hires durin...,NaN,MC,MAVR
TrueFalse_2,QID294,Do you use learning resources provided by your...,NaN,MC,MAVR
TrueFalse_3,QID294,Does your employer give you time to learn new ...,NaN,MC,MAVR

In [3]:
schema_raw = schema_df.question
schema_raw

qname
S0             <div><span style="font-size:19px;"><strong>Hel...
MetaInfo                                       Browser Meta Info
S1             <span style="font-size:22px; font-family: aria...
MainBranch     Which of the following options best describes ...
Employment     Which of the following best describes your cur...
                                     ...
Frequency_2    Interacting with people outside of your immedi...
Frequency_3    Encountering knowledge silos (where one indivi...
TrueFalse_1    Are you involved in supporting new hires durin...
TrueFalse_2    Do you use learning resources provided by your...
TrueFalse_3    Does your employer give you time to learn new ...
Name: question, Length: 79, dtype: object

In [4]:
schema_raw.Employment

'Which of the following best describes your current employment status?'

In [ ]:
# recap01

# Read Schema Dataset
schema_df = pd.read_csv('survey_results_schema.csv', index_col='qname')

# Take just index and question column
schema_raw = schema_df.question

# Read Data

In [6]:
data = pd.read_csv('survey_results_public_2022.csv')
df_first = data.copy()
df_first.head()

,ResponseId,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode,YearsCodePro,DevType,OrgSize,PurchaseInfluence,BuyNewTool,Country,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSysProfessional use,OpSysPersonal use,VersionControlSystem,VCInteraction,VCHostingPersonal use,VCHostingProfessional use,OfficeStackAsyncHaveWorkedWith,OfficeStackAsyncWantToWorkWith,OfficeStackSyncHaveWorkedWith,OfficeStackSyncWantToWorkWith,Blockchain,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,TBranch,ICorPM,WorkExp,Knowledge_1,Knowledge_2,Knowledge_3,Knowledge_4,Knowledge_5,Knowledge_6,Knowledge_7,Frequency_1,Frequency_2,Frequency_3,TimeSearching,TimeAnswering,Onboarding,ProfessionalTech,TrueFalse_1,TrueFalse_2,TrueFalse_3,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,None of these,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I am a developer by profession,"Employed, full-time",Fully remote,Hobby;Contribute to open-source projects,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Canada,CAD\tCanadian dollar,NaN,NaN,JavaScript;TypeScript,Rust;TypeScript,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,macOS,Windows Subsystem for Linux (WSL),Git,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Very unfavorable,Collectives on Stack Overflow;Stack Overflow f...,Daily or almost daily,Yes,Daily or almost daily,Not sure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Difficult,NaN
2,3,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Programming Game...,NaN,14,5,Data scientist or machine learning specialist;...,20 to 99 employees,I have some influence,NaN,United Kingdom of Great Britain and Northern I...,GBP\tPound sterling,32000.0,Yearly,C#;C++;HTML/CSS;JavaScript;Python,C#;C++;HTML/CSS;JavaScript;TypeScript,Microsoft SQL Server,Microsoft SQL Server,NaN,NaN,Angular.js,Angular;Angular.js,Pandas,.NET,NaN,NaN,Notepad++;Visual Studio,Notepad++;Visual Studio,Windows,Windows,Git,Code editor,NaN,NaN,NaN,NaN,Microsoft Teams,Microsoft Teams,Very unfavorable,Collectives on Stack Overflow;Stack Overflow;S...,Multiple times per day,Yes,Multiple times per day,Neutral,25-34 years old,Man,No,Bisexual,White,None of the above,"I have a mood or emotional disorder (e.g., dep...",No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,40205.0
3,4,I am a developer by profession,"Employed, full-time",Fully remote,I don’t code outside of work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Books / Physical media;School (i.e., Universit...",NaN,NaN,20,17,"Developer, full-stack",100 to 499 employees,I have some influence,Other (please specify):,Israel,ILS\tIsraeli new shekel,60000.0,Monthly,C#;JavaScript;SQL;TypeScript,C#;SQL;TypeScript,Microsoft SQL Server,Microsoft SQL Server,NaN,NaN,ASP.NET;ASP.NET Core,ASP.NET;ASP.NET Core,.NET,.NET,NaN,NaN,Notepad++;Visual Studio;Visual Studio Code,Notepad++;Visual Studio;Visual Studio Code,Windows,Windows,Git,Code editor;Command-line;Version control hosti...,NaN,NaN,Jira Work Management;Trello,Jira Work Management;Trello,Slack;Zoom,Slack;Zoom,Very unfavorable,Collectives on Stack Overflow;Stack Overflow f...,Daily or almost daily,Yes,A few times per week,"Yes, definitely",35-44 years old,Man,No,Straight / Heterosexual,White,None of the above,None of the above,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,215232.0
4,5,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Stack Overflow;O...,NaN,8,3,"Developer, front-end;Developer, full-stack;Dev...",20 to 99 employees,I have some influence,Start a free trial;Visit developer communities...,United States of America,USD\tUnited States dollar,NaN,NaN,C#;HTML/CSS;JavaScript;SQL;Swift;TypeScript,C#;Elixir;F#;Go;JavaScript;Rust;TypeScript,Cloud Firestore;Elasticsearch;Microsoft SQL Se...,Cloud Firestore;Elasticsearch;Firebase Realtim...,Firebase;Microsoft Azure,Firebase;Microsoft Azure,Angular;ASP.NET;ASP.NET Core ;jQuery;Node.js,Angular;ASP.NET Core ;Blazor;Node.js,.NET,.NET;Apache Kafka,npm,Docker;Kubernetes,Notepad++;Visual Studio;Visual Studio Code;Xcode,Rider;Visual Studio;Visual Studio Code,Windows,macOS;Windows,Git;Other (please specify):,Code editor,NaN,NaN,NaN,NaN,Microsoft Teams;Zoom,NaN,Unfavorable,Collectives on Stack Overflow;Stack Overflow f...,Multiple times per day,Yes,Daily or almost daily,"Yes, definitely",25-34 years old,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN

In [7]:
df_first.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73268 entries, 0 to 73267
Data columns (total 79 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   ResponseId                      73268 non-null  int64
 1   MainBranch                      73268 non-null  object
 2   Employment                      71709 non-null  object
 3   RemoteWork                      58958 non-null  object
 4   CodingActivities                58899 non-null  object
 5   EdLevel                         71571 non-null  object
 6   LearnCode                       71580 non-null  object
 7   LearnCodeOnline                 50685 non-null  object
 8   LearnCodeCoursesCert            29389 non-null  object
 9   YearsCode                       71331 non-null  object
 10  YearsCodePro                    51833 non-null  object
 11  DevType                         61302 non-null  object
 12  OrgSize                         51039 non-null  object
 13  PurchaseInfluence               50969 non-null  object
 14  BuyNewTool                      67963 non-null  object
 15  Country                         71771 non-null  object
 16  Currency                        51264 non-null  object
 17  CompTotal                       38422 non-null  float64
 18  CompFreq                        44425 non-null  object
 19  LanguageHaveWorkedWith          70975 non-null  object
 20  LanguageWantToWorkWith          67027 non-null  object
 21  DatabaseHaveWorkedWith          60121 non-null  object
 22  DatabaseWantToWorkWith          51014 non-null  object
 23  PlatformHaveWorkedWith          49924 non-null  object
 24  PlatformWantToWorkWith          40415 non-null  object
 25  WebframeHaveWorkedWith          53544 non-null  object
 26  WebframeWantToWorkWith          46122 non-null  object
 27  MiscTechHaveWorkedWith          44992 non-null  object
 28  MiscTechWantToWorkWith          36810 non-null  object
 29  ToolsTechHaveWorkedWith         54171 non-null  object
 30  ToolsTechWantToWorkWith         46566 non-null  object
 31  NEWCollabToolsHaveWorkedWith    70347 non-null  object
 32  NEWCollabToolsWantToWorkWith    64108 non-null  object
 33  OpSysProfessional use           65503 non-null  object
 34  OpSysPersonal use               70963 non-null  object
 35  VersionControlSystem            71379 non-null  object
 36  VCInteraction                   68156 non-null  object
 37  VCHostingPersonal use           0 non-null      float64
 38  VCHostingProfessional use       0 non-null      float64
 39  OfficeStackAsyncHaveWorkedWith  46223 non-null  object
 40  OfficeStackAsyncWantToWorkWith  32072 non-null  object
 41  OfficeStackSyncHaveWorkedWith   62128 non-null  object
 42  OfficeStackSyncWantToWorkWith   47688 non-null  object
 43  Blockchain                      71071 non-null  object
 44  NEWSOSites                      71365 non-null  object
 45  SOVisitFreq                     70961 non-null  object
 46  SOAccount                       71572 non-null  object
 47  SOPartFreq                      58229 non-null  object
 48  SOComm                          71408 non-null  object
 49  Age                             70946 non-null  object
 50  Gender                          70853 non-null  object
 51  Trans                           70315 non-null  object
 52  Sexuality                       66565 non-null  object
 53  Ethnicity                       69474 non-null  object
 54  Accessibility                   67244 non-null  object
 55  MentalHealth                    66447 non-null  object
 56  TBranch                         52670 non-null  object
 57  ICorPM                          36283 non-null  object
 58  WorkExp                         36769 non-null  float64
 59  Knowledge_1                     35804 non-null  object
 60  Knowledge_2                     34973 non-null  object
 61  Knowledge_3                     35133 non-null  object
 62  Knowledge_4                     35097 non-null  object
 63  Knowledge_5                     35014 non-null  object
 64  Knowledge_6                     34991 non-null  object
 65  Knowledge_7                     34977 non-null  object
 66  Frequency_1                     35371 non-null  object
 67  Frequency_2                     35344 non-null  object
 68  Frequency_3                     34515 non-null  object
 69  TimeSearching                   36198 non-null  object
 70  TimeAnswering                   36022 non-null  object
 71  Onboarding                      35679 non-null  object
 72  ProfessionalTech                34906 non-null  object
 73  TrueFalse_1                     35819 non-null  object
 74  TrueFalse_2                     35715 non-null  object
 75  TrueFalse_3                     35749 non-null  object
 76  SurveyLength                    70444 non-null  object
 77  SurveyEase                      70508 non-null  object
 78  ConvertedCompYearly             38071 non-null  float64
dtypes: float64(5), int64(1), object(73)
memory usage: 44.2+ MB

In [8]:
df_first.shape

(73268, 79)

In [9]:
df_first.isna().sum().sort_values(ascending=False)

VCHostingProfessional use         73268
VCHostingPersonal use             73268
LearnCodeCoursesCert              43879
OfficeStackAsyncWantToWorkWith    41196
Frequency_3                       38753
                                  ...
LearnCode                          1688
Employment                         1559
Country                            1497
MainBranch                            0
ResponseId                            0
Length: 79, dtype: int64

In [10]:
df_first.describe().round(2)

,ResponseId,CompTotal,VCHostingPersonal use,VCHostingProfessional use,WorkExp,ConvertedCompYearly
count,73268.00,3.842200e+04,0.0,0.0,36769.00,38071.00
mean,36634.50,2.342434e+52,NaN,NaN,10.24,170761.28
std,21150.79,4.591478e+54,NaN,NaN,8.71,781413.24
min,1.00,0.000000e+00,NaN,NaN,0.00,1.00
25%,18317.75,3.000000e+04,NaN,NaN,4.00,35832.00
50%,36634.50,7.750000e+04,NaN,NaN,8.00,67845.00
75%,54951.25,1.540000e+05,NaN,NaN,15.00,120000.00
max,73268.00,9.000000e+56,NaN,NaN,50.00,50000000.00

In [11]:
df_first.describe(include='all').round(2)

,ResponseId,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode,YearsCodePro,DevType,OrgSize,PurchaseInfluence,BuyNewTool,Country,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSysProfessional use,OpSysPersonal use,VersionControlSystem,VCInteraction,VCHostingPersonal use,VCHostingProfessional use,OfficeStackAsyncHaveWorkedWith,OfficeStackAsyncWantToWorkWith,OfficeStackSyncHaveWorkedWith,OfficeStackSyncWantToWorkWith,Blockchain,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,TBranch,ICorPM,WorkExp,Knowledge_1,Knowledge_2,Knowledge_3,Knowledge_4,Knowledge_5,Knowledge_6,Knowledge_7,Frequency_1,Frequency_2,Frequency_3,TimeSearching,TimeAnswering,Onboarding,ProfessionalTech,TrueFalse_1,TrueFalse_2,TrueFalse_3,SurveyLength,SurveyEase,ConvertedCompYearly
count,73268.00,73268,71709,58958,58899,71571,71580,50685,29389,71331,51833,61302,51039,50969,67963,71771,51264,3.842200e+04,44425,70975,67027,60121,51014,49924,40415,53544,46122,44992,36810,54171,46566,70347,64108,65503,70963,71379,68156,0.0,0.0,46223,32072,62128,47688,71071,71365,70961,71572,58229,71408,70946,70853,70315,66565,69474,67244,66447,52670,36283,36769.00,35804,34973,35133,35097,35014,34991,34977,35371,35344,34515,36198,36022,35679,34906,35819,35715,35749,70444,70508,38071.00
unique,NaN,6,103,3,63,9,737,7192,206,52,52,9984,10,3,125,180,142,NaN,3,25068,23952,4223,4291,1500,1435,8259,8884,4205,5086,951,1245,15063,9188,55,56,16,15,NaN,NaN,1085,825,397,353,6,16,5,3,6,6,8,16,4,32,1055,27,57,2,2,NaN,5,5,5,5,5,5,5,5,5,5,5,5,5,155,2,2,2,3,3,NaN
top,NaN,I am a developer by profession,"Employed, full-time",Fully remote,Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","School (i.e., University, College, etc)",Technical documentation;Blogs;Written Tutorial...,Udemy,10,3,"Developer, full-stack",20 to 99 employees,I have some influence,Start a free trial;Visit developer communities...,United States of America,EUR European Euro,NaN,Yearly,HTML/CSS;JavaScript;TypeScript,Python,MySQL,PostgreSQL,AWS,AWS,React.js,React.js,.NET,.NET,npm,Docker,Visual Studio Code,Visual Studio Code,Windows,Windows,Git,Command-line,NaN,NaN,Confluence;Jira Work Management,Jira Work Management,Microsoft Teams,Slack,Indifferent,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,Less than once per month or monthly,"Yes, somewhat",25-34 years old,Man,No,Straight / Heterosexual,European,None of the above,None of the above,Yes,Independent contributor,NaN,Agree,Agree,Agree,Agree,Agree,Agree,Agree,1-2 times a week,1-2 times a week,1-2 times a week,30-60 minutes a day,15-30 minutes a day,Somewhat long,None of these,Yes,Yes,Yes,Appropriate in length,Easy,NaN
freq,NaN,53507,42962,25341,18118,30276,3669,715,5643,5217,4261,7142,10343,21991,11787,13543,12634,NaN,23267,1250,1021,3563,3994,8719,7350,1959,1703,8181,5025,7436,4298,6753,8815,16645,21653,62055,17602,NaN,NaN,7084,4737,9257,10935,18331,41859,21712,58519,26846,19674,28112,64607,67392,55238,14612,63064,46849,37200,30592,NaN,17527,10711,14779,16891,18674,12916,13080,21689,16368,17666,13652,11871,12961,4658,23767,22716,28027,53883,47886,NaN
mean,36634.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.342434e+52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,170761.28
std,21150.79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.591478e+54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,781413.24
min,1.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.00
25%,18317.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.000000e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35832.00
50%,36634.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.750000e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,67845.00
75%,54951.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.540000e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,120000.00
max,73268.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.000000e+56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50000000.00

### We decided to choose only Data Scientist, Data Analyst and Business Analyst from dataset

In [12]:
df_first.DevType.value_counts()

Developer, full-stack                                                                                                                                                                                                                                                                                                                                                                                                                  7142
Developer, back-end                                                                                                                                                                                                                                                                                                                                                                                                                    5301
Developer, front-end                                                                                                                                                                                                                                                                                                                                                                                                                   2385
Developer, front-end;Developer, full-stack;Developer, back-end                                                                                                                                                                                                                                                                                                                                                                         1807
Developer, full-stack;Developer, back-end                                                                                                                                                                                                                                                                                                                                                                                              1535
                                                                                                                                                                                                                                                                                                                                                                                                                                       ...
Developer, front-end;Developer, full-stack;Developer, back-end;Project manager;Product manager;Blockchain                                                                                                                                                                                                                                                                                                                                 1
Developer, front-end;Developer, QA or test;Developer, game or graphics;System administrator                                                                                                                                                                                                                                                                                                                                               1
Database administrator;Academic researcher;Designer;Blockchain                                                                                                                                                                                                                                                                                                                                                                            1
Data scientist or machine learning specialist;Developer, full-stack;Database administrator;Scientist;System administrator                                                                                                                                                                                                                                                                                                                 1
Developer, front-end;Engineer, data;Engineer, site reliability;Developer, full-stack;Developer, back-end;Developer, desktop or enterprise applications;Developer, QA or test;Student;Developer, mobile;Academic researcher;DevOps specialist;Developer, embedded applications or devices;Developer, game or graphics;Cloud infrastructure engineer;Data or business analyst;Designer;Scientist;Product manager;System administrator       1
Name: DevType, Length: 9984, dtype: int64

In [13]:
pd.options.display.max_colwidth = 150
df_first.loc[df_first.DevType.str.contains('data scientist|data or business analyst', case=False ,na=False)].DevType

2                                                 Data scientist or machine learning specialist;Developer, front-end;Engineer, data;Engineer, site reliability
39                                         Developer, back-end;Database administrator;DevOps specialist;Cloud infrastructure engineer;Data or business analyst
40       Developer, front-end;Engineer, data;Developer, full-stack;Developer, back-end;Developer, desktop or enterprise applications;Developer, QA or test;...
41                                                                            Data scientist or machine learning specialist;Engineer, data;Developer, back-end
50                                                                         Data scientist or machine learning specialist;Student;Academic researcher;Scientist
                                                                                 ...
73229                                               Data scientist or machine learning specialist;Developer, back-end;Project manager;Data or business analyst
73234    Data scientist or machine learning specialist;Developer, front-end;Developer, full-stack;Developer, back-end;Developer, QA or test;Developer, mobi...
73254                                                                   Data scientist or machine learning specialist;Data or business analyst;Product manager
73264                                                                                                            Data scientist or machine learning specialist
73267    Developer, front-end;Engineer, data;Engineer, site reliability;Developer, full-stack;Developer, back-end;Developer, desktop or enterprise applicat...
Name: DevType, Length: 5742, dtype: object

## Create New Dataset from original dataset

In [14]:
# use conatins , case not sensitive and ignore NAN rows
dff = df_first.loc[df_first.DevType.str.contains('data scientist|data or business analyst', case=False ,na=False)]
dff.head(1)

,ResponseId,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode,YearsCodePro,DevType,OrgSize,PurchaseInfluence,BuyNewTool,Country,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSysProfessional use,OpSysPersonal use,VersionControlSystem,VCInteraction,VCHostingPersonal use,VCHostingProfessional use,OfficeStackAsyncHaveWorkedWith,OfficeStackAsyncWantToWorkWith,OfficeStackSyncHaveWorkedWith,OfficeStackSyncWantToWorkWith,Blockchain,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,TBranch,ICorPM,WorkExp,Knowledge_1,Knowledge_2,Knowledge_3,Knowledge_4,Knowledge_5,Knowledge_6,Knowledge_7,Frequency_1,Frequency_2,Frequency_3,TimeSearching,TimeAnswering,Onboarding,ProfessionalTech,TrueFalse_1,TrueFalse_2,TrueFalse_3,SurveyLength,SurveyEase,ConvertedCompYearly
2,3,"I am not primarily a developer, but I write code sometimes as part of my work","Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Books / Physical media;Friend or family member;Other online resources (e.g., videos, blogs, forum);School (i.e., University, College, etc)",Technical documentation;Blogs;Programming Games;Written Tutorials;Stack Overflow,NaN,14,5,"Data scientist or machine learning specialist;Developer, front-end;Engineer, data;Engineer, site reliability",20 to 99 employees,I have some influence,NaN,United Kingdom of Great Britain and Northern Ireland,GBP\tPound sterling,32000.0,Yearly,C#;C++;HTML/CSS;JavaScript;Python,C#;C++;HTML/CSS;JavaScript;TypeScript,Microsoft SQL Server,Microsoft SQL Server,NaN,NaN,Angular.js,Angular;Angular.js,Pandas,.NET,NaN,NaN,Notepad++;Visual Studio,Notepad++;Visual Studio,Windows,Windows,Git,Code editor,NaN,NaN,NaN,NaN,Microsoft Teams,Microsoft Teams,Very unfavorable,Collectives on Stack Overflow;Stack Overflow;Stack Exchange,Multiple times per day,Yes,Multiple times per day,Neutral,25-34 years old,Man,No,Bisexual,White,None of the above,"I have a mood or emotional disorder (e.g., depression, bipolar disorder, etc.);I have an anxiety disorder",No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,40205.0

In [15]:
dff.describe().round(2)

,ResponseId,CompTotal,VCHostingPersonal use,VCHostingProfessional use,WorkExp,ConvertedCompYearly
count,5742.00,3.504000e+03,0.0,0.0,3386.00,3462.00
mean,37209.77,2.853881e+18,NaN,NaN,11.96,175376.63
std,21186.74,1.689343e+20,NaN,NaN,10.11,672266.51
min,3.00,0.000000e+00,NaN,NaN,0.00,7.00
25%,18657.25,3.500000e+04,NaN,NaN,4.00,38688.00
50%,37755.50,8.500000e+04,NaN,NaN,9.00,71225.50
75%,55936.50,1.552500e+05,NaN,NaN,17.00,122393.00
max,73268.00,1.000000e+22,NaN,NaN,50.00,15000000.00

## Find Salary from Compensation

In [16]:
# Feaure Engineering

# New Column Compensation Frequency Number
#dff['CompFreq_number'] = dff.CompFreq.apply(lambda x : (52/12) if x=='Weekly' else 12 )

dff.loc[dff.CompFreq == 'Weekly', 'CompFreq_Number'] = (52/12)
dff.loc[dff.CompFreq == 'Monthly', 'CompFreq_Number'] = 1
dff.loc[dff.CompFreq == 'Yearly', 'CompFreq_Number'] = 12
dff.loc[dff.CompFreq == np.NaN , 'CompFreq_Number'] = np.NaN

pd.options.display.float_format = '{:,.2f}'.format
dff[['CompTotal', 'CompFreq', 'CompFreq_Number']]

       CompTotal CompFreq  CompFreq_Number
2      32,000.00   Yearly            12.00
39           NaN  Monthly             1.00
40    130,000.00   Yearly            12.00
41     19,000.00  Monthly             1.00
50           NaN      NaN              NaN
...          ...      ...              ...
73229 325,000.00   Yearly            12.00
73234        NaN   Weekly             4.33
73254 115,000.00   Yearly            12.00
73264 107,000.00   Yearly            12.00
73267        NaN      NaN              NaN

[5742 rows x 3 columns]

In [17]:
# Find Salary (Monthly income)
dff['Salary'] = dff.CompTotal / dff.CompFreq_Number
dff[['CompTotal', 'CompFreq', 'CompFreq_Number', 'Salary',  'WorkExp','ConvertedCompYearly']]

,CompTotal,CompFreq,CompFreq_Number,Salary,WorkExp,ConvertedCompYearly
2,"32,000.00",Yearly,12.00,"2,666.67",NaN,"40,205.00"
39,NaN,Monthly,1.00,NaN,NaN,NaN
40,"130,000.00",Yearly,12.00,"10,833.33",NaN,"130,000.00"
41,"19,000.00",Monthly,1.00,"19,000.00",3.00,"68,160.00"
50,NaN,NaN,NaN,NaN,4.00,NaN
...,...,...,...,...,...,...
73229,"325,000.00",Yearly,12.00,"27,083.33",15.00,NaN
73234,NaN,Weekly,4.33,NaN,20.00,NaN
73254,"115,000.00",Yearly,12.00,"9,583.33",16.00,NaN
73264,"107,000.00",Yearly,12.00,"8,916.67",6.00,NaN
73267,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
# dff to excel

writer = pd.ExcelWriter('Stackoverflow.xlsx')

# df.info(), df.describe(), df.quantile()
dff.dtypes.reset_index(name='Dtype').rename(columns={'index' : 'Column'}).to_excel(writer, 'info')
dff.describe().T.to_excel(writer, 'describe')
dff.quantile([0.01,0.25,0.50,0.75,0.99]).T.to_excel(writer, 'quantile')

writer.save()

In [19]:
dff[['CompTotal', 'CompFreq', 'CompFreq_Number', 'Salary',  'WorkExp', 'ConvertedCompYearly']].isna().sum()

CompTotal              2238
CompFreq               1682
CompFreq_Number        1682
Salary                 2246
WorkExp                2356
ConvertedCompYearly    2280
dtype: int64

In [20]:
dff.loc[dff.DatabaseHaveWorkedWith.str.contains('ibm', na=False, case=False)].DatabaseHaveWorkedWith

749                         Elasticsearch;IBM DB2;Microsoft SQL Server;Redis
1139                                                          IBM DB2;Oracle
3336       IBM DB2;Microsoft SQL Server;MySQL;Oracle;PostgreSQL;Redis;SQLite
3453                                                          IBM DB2;SQLite
3689            IBM DB2;Microsoft SQL Server;MongoDB;MySQL;PostgreSQL;SQLite
                                        ...
72223                                 IBM DB2;MySQL;Oracle;PostgreSQL;SQLite
72604                                                   IBM DB2;MySQL;SQLite
72806                     IBM DB2;MariaDB;Microsoft SQL Server;MongoDB;MySQL
73026    IBM DB2;MariaDB;Microsoft SQL Server;MySQL;Oracle;PostgreSQL;SQLite
73176                  IBM DB2;MariaDB;Microsoft SQL Server;MySQL;PostgreSQL
Name: DatabaseHaveWorkedWith, Length: 217, dtype: object

In [ ]:
pd.concat([df, dff]).shape#.drop_duplicates(keep=False).shape

In [22]:
dff.MiscTechHaveWorkedWith.value_counts()

.NET                                                                                    413
NumPy;Pandas                                                                            285
NumPy;Pandas;Scikit-learn                                                               210
Keras;NumPy;Pandas;Scikit-learn;TensorFlow                                              137
Keras;NumPy;Pandas;Scikit-learn;TensorFlow;Torch/PyTorch                                114
                                                                                       ...
.NET;Capacitor;Keras;NumPy;Pandas;Qt;Scikit-learn;Spring;TensorFlow;Torch/PyTorch         1
.NET;GTK;NumPy;Qt;Torch/PyTorch                                                           1
Apache Spark;Cordova;Ionic;NumPy;Pandas                                                   1
.NET;NumPy;Pandas;Qt;Tidyverse                                                            1
Apache Kafka;Flutter;Hadoop;Keras;NumPy;Pandas;Scikit-learn;TensorFlow;Torch/PyTorch      1
Name: MiscTechHaveWorkedWith, Length: 1286, dtype: int64

In [27]:
dff.loc[dff.MiscTechHaveWorkedWith.str.contains('pandas', case=False, na=False)].MiscTechHaveWorkedWith.count()

3065

In [30]:
dff.loc[dff.MiscTechHaveWorkedWith == '.NET'].DevType

97       Developer, front-end;Engineer, data;Developer, full-stack;Developer, back-end;Developer, desktop or enterprise applications;DevOps specialist;Data...
117                Data scientist or machine learning specialist;Engineer, data;Developer, full-stack;Developer, back-end;Senior Executive (C-Suite, VP, etc.)
381                                                                       Developer, front-end;Engineer, data;Other (please specify):;Data or business analyst
760      Developer, full-stack;Developer, back-end;Database administrator;DevOps specialist;Cloud infrastructure engineer;Data or business analyst;Designer...
1127                                                                                        Developer, back-end;Developer, QA or test;Data or business analyst
                                                                                 ...
72895    Developer, full-stack;Developer, desktop or enterprise applications;Engineering manager;Database administrator;Academic researcher;Project manager...
72992    Developer, front-end;Engineer, data;Developer, full-stack;Developer, back-end;Developer, desktop or enterprise applications;Developer, QA or test;...
73058    Engineer, data;Developer, back-end;Developer, desktop or enterprise applications;Developer, QA or test;Database administrator;DevOps specialist;Da...
73119                                                                                                           Developer, full-stack;Data or business analyst
73122                                                                                Data scientist or machine learning specialist;Developer, back-end;Student
Name: DevType, Length: 413, dtype: object

In [37]:
dff.loc[dff.MiscTechHaveWorkedWith == 'Pandas'].DevType

2                                                 Data scientist or machine learning specialist;Developer, front-end;Engineer, data;Engineer, site reliability
509                                                                                          Data scientist or machine learning specialist;Developer, back-end
2758                            Data scientist or machine learning specialist;Engineer, data;Developer, full-stack;Educator;Data or business analyst;Scientist
3591                     Engineer, data;Developer, back-end;Database administrator;Cloud infrastructure engineer;Data or business analyst;System administrator
3785                                                                                             Engineer, data;Developer, full-stack;Data or business analyst
                                                                                 ...
71116    Engineer, data;Developer, back-end;Developer, desktop or enterprise applications;Engineering manager;Project manager;Data or business analyst;Prod...
71674                                                                                                            Data scientist or machine learning specialist
71885                                                                        Engineer, data;Developer, full-stack;Developer, back-end;Data or business analyst
72733         Engineer, data;Developer, full-stack;Educator;Database administrator;Cloud infrastructure engineer;Data or business analyst;System administrator
73053                                                                                                                                 Data or business analyst
Name: DevType, Length: 87, dtype: object

In [40]:
df_first.loc[df_first.DevType.str.match('Data ', case=False, na=False)].MiscTechHaveWorkedWith.value_counts()

NumPy;Pandas                                                                                                                  182
NumPy;Pandas;Scikit-learn                                                                                                     180
Keras;NumPy;Pandas;Scikit-learn;TensorFlow                                                                                    129
Keras;NumPy;Pandas;Scikit-learn;TensorFlow;Torch/PyTorch                                                                      110
Tidyverse                                                                                                                      75
                                                                                                                             ...
.NET;Apache Kafka;Apache Spark;Hadoop;NumPy;Pandas;Qt;React Native;Scikit-learn;TensorFlow;Torch/PyTorch                        1
.NET;Apache Kafka;Apache Spark;Flutter;Hadoop;Keras;NumPy;Pandas;React Native;Scikit-learn;Spring;TensorFlow;Torch/PyTorch      1
.NET;Keras;NumPy;Tidyverse;TensorFlow                                                                                           1
Keras;NumPy;Scikit-learn;Tidyverse;TensorFlow;Torch/PyTorch                                                                     1
Apache Kafka;Flutter;Hadoop;Keras;NumPy;Pandas;Scikit-learn;TensorFlow;Torch/PyTorch                                            1
Name: MiscTechHaveWorkedWith, Length: 1021, dtype: int64

In [65]:
index_deneme = df_first.loc[df_first.DevType.str.match('Data', case=False, na=False)].DevType.str.contains('Data or business analyst|Data scientist').index

In [44]:
df_first.loc[df_first.DevType.str.match('Data', case=False, na=False)].shape

(3863, 79)

In [54]:
index_data = df_first.loc[df_first.DevType.str.match('Data', case=False, na=False)].index
len(index_data)

3863

In [53]:
index_dataBlank = df_first.loc[df_first.DevType.str.match('Data ', case=False, na=False)].index

In [55]:
len(index_dataBlank)

3706

In [68]:
index_deneme.difference(index_dataBlank)

Int64Index([  161,   345,   575,  1170,  3390,  4383,  4613,  5235,  5838,
             5988,
            ...
            69152, 69944, 70252, 70705, 71195, 71518, 71606, 71835, 71853,
            72373],
           dtype='int64', length=157)

In [59]:
df_first.loc[index_data.difference(index_dataBlank)].DevType

161                                                             Database administrator;DevOps specialist;System administrator
345                                                                               Database administrator;System administrator
575                                                                                                    Database administrator
1170                                                                              Database administrator;System administrator
3390                                                                                          Database administrator;Designer
                                                                 ...
71518                                                     Database administrator;Academic researcher;Data or business analyst
71606    Database administrator;Data or business analyst;Senior Executive (C-Suite, VP, etc.);Marketing or sales professional
71835                                                 Database administrator;Other (please specify):;Data or business analyst
71853                                                                                                  Database administrator
72373                                                       Database administrator;System administrator;Security professional
Name: DevType, Length: 157, dtype: object

In [76]:
df_first.loc[index_deneme].DevType.value_counts().reset_index()

,index,DevType
0,Data scientist or machine learning specialist,498
1,Data or business analyst,244
2,Data scientist or machine learning specialist;Data or business analyst,129
3,"Data scientist or machine learning specialist;Developer, back-end",107
4,"Data scientist or machine learning specialist;Engineer, data",86
...,...,...
1509,"Data scientist or machine learning specialist;Developer, full-stack;Database administrator;Project manager;Product manager;Senior Executive (C-Sui...",1
1510,"Data scientist or machine learning specialist;Engineer, data;Developer, desktop or enterprise applications;Student;Educator;Academic researcher;Da...",1
1511,"Data scientist or machine learning specialist;Student;Academic researcher;Developer, game or graphics",1
1512,"Data scientist or machine learning specialist;Developer, front-end;Developer, full-stack;Developer, back-end;Engineering manager;DevOps specialist...",1
1513,"Data scientist or machine learning specialist;Developer, front-end;Developer, full-stack;Developer, back-end;Developer, QA or test;Developer, mobi...",1