In [1]:
import pandas as pd
import numpy as np

In [2]:
df1=pd.DataFrame([[1,2],[3,4],[5,6]],columns=['a','b'])
df1

   a  b
0  1  2
1  3  4
2  5  6

In [3]:
df2=pd.DataFrame([[1,2],[5,6]],columns=['a','b'])
df2

   a  b
0  1  2
1  5  6

In [10]:
pd.concat([df1, df2]).drop_duplicates(keep=False)

   a  b
1  3  4